* {
	margin: 0;
}
html, body {
	height: 100%;
}

a, a:active, a:visited {
	color: #000;
}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
	height: 20px; /* .push must be the same height as .footer */
}
#footer {
	border-top: 1px #ccc;
	background: #E6E6E6;
}

#footer .inner {
	margin: 0 auto;
	text-align:center;
}

body {
	background:#CCCCCC;
	margin:0;
	padding:0;
}

li,ul {
	list-style:none;
}
ol {
	margin:0;
	padding:0;
}

fieldset {
	margin:0;
	padding:0;
	border:none;
}

label {
	display:block;
}

.upper {
	text-transform:uppercase;
}

.highlight {
	color:#CCCCCC;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.rounded-corner {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius: 20px;
}

.large-border {
	border: 10px solid;
}

.clear_div {
	content:" ";
	height:0;
	width:0;
	clear:both;
}

.w300 {
	width:300px;
}

.icon-right-small {
	padding-right: 18px;
}

.icon-account {
	background: transparent url(/images/icons/16/user.png) right no-repeat;
}

.icon-logout {
	background: transparent url(/images/icons/16/on-off.png) right no-repeat;
}

#header a {
	color: white;
}

#utils a {
	float:left;
	margin-left: 10px;
}

a.logout, a:hover.logout, a:visited.logout, a:active.logout {
	font-weight: bold;
}

#header {
	background: #000;
	color: #FFF;
	height: 130px;
	border-bottom: 7px solid #ccc;
}
#header h1 {
	padding: 20px;
}

#main-menu {
	margin: 0 auto;
	margin-top: 2px;
	width: 900px;
	padding: 10px;
}

#main-menu a {
	min-width: 100px;
	text-align:center;
	line-height: 30px;
	background: #666;
	margin-right: 5px;
	padding: 5px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#main-menu a.selected, #main-menu a:hover {
	background:#ccc;
	color:#000;
}

#main-menu a {
	float: right;
	height: 30px;
	padding-right:10px;
	color: #fff;
}

#main-menu a, #main-menu a:hover {
	text-decoration:none;
}

#main {
	margin: 0 auto;
	width: 85%;
	margin-top: 20px;
}

#login-home {
	padding: 20px
}

#new-user-dialog input[type='text'], #new-user-dialog input[type='password'	] {
	height: 30px;
	font-size: 18pt;
	width: 250px;
	border-color: #CCC;
	border:2px solid #000;
}

#login-home input[type='text'], #login-home input[type='password'] {
	height: 30px;
	font-size: 18pt;
	width: 250px;
	border-color: #CCC;
	border:2px solid #000;
}

ul.menu {
	margin:0;
	padding:0;
	list-style:none;
}
ul.menu li {
	float:left;
	margin-right: 10px;
}

.mouse-over {
	cursor:pointer;
	background:#ccc;
}

.hidden {
	display:none;
}

/* Box set start */
.header {
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	margin-top: 45px;
	height: 30px;
}
.project-box-set {
	width: 48%;
	float:left;
	margin-right:20px;
}

dev.project-box-set-devider {
	width: 5%;
	float:left;
}

.project_box {
	padding: 5px;
	background: #E6E6E6 url(http://localhost:3001/stylesheets/images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x 50% 50%;
	padding: 0 40px 0 30px;
	color:#000;
	display:block;
	text-decoration:none;
	height: 80px;
	border: 1px solid #CCC;
}
.project_box h2 {
	margin-top: 30px;
}

.project-box-hover {
	background:#B4C2CF;
	text-decoration:none;
	cursor:pointer;
}

.project-box-hover h2 {
		color: #FFF;
}

.project_box h2.right {
		font-size: 12pt;
}

div.project_box h2 {
	border-bottom:none;
}

/* Box set end */
.entries {
	padding-top: 10px;
}
/* Feed entry set */
.sample-box {
	background:#B4C2CF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:15px 30px;
	color: white;
	font-size: 12pt;
	margin-bottom:10px;
}

.feed-entry {
	background:#CCC;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding: 10px;
	margin-bottom: 10px;
}
/* Feed entry set end */
.feed-icon {
	background: transparent url(/images/feed-icon.png) no-repeat right;
	padding-right: 20px;
}

.white, span.white a {
	color:#FFF;
}