<div id="main-menu" class="menu">
	<% if current_user.present? %>
		<%= link_to t(".dashboard"), dashboard_url %>
		<% if current_user.developer? %>
			<%= link_to t(".developer_dashboard"), developer_dashboard_url %>
		<% end %>
	<% end %>
</div>
<%= clear_div %>