<ul class="menu">
	<% if current_user.present? %>
		<li><%= link_to t(".dashboard"), dashboard_url %></li>
		<% if current_user.developer? %>
			<li><%= link_to t(".developer_dashboard"), developer_dashboard_url %></li>
		<% end %>
	<% end %>
</ul>
<%= clear_div %>